<div class="wrapper-adv-card">
  <div class=adv-main-card>
    <!-- If small screen we put image on top -->
    <div class="adv-card-on-top hidden-md hidden-lg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @performance.smart_image_url %>')">
    </div>
    <!-- else we do the normal adv card -->
    <div class="adv-card">
      <div class="adv-card-left hidden-xs hidden-sm" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @performance.smart_image_url %>')">
      </div>
      <div class="adv-card-right">
        <% if @reservation %>
            <%= render 'form' %>
        <% else %>
            <div class="adv-card-right-top">
              <div class="advanced-card-right-top-title">
                <h1><%= @performance.title %></h1>
              </div>
              <h2><%= @performance.category %></h2>
              <p><%= @performance.description %></p>
            </div>
            <div class="adv-card-right-bottom">
              <p class="adv-card-price"><%= @performance.price %> €</p>
              <!-- a user should not be able to book his own card -->
              <% if @performance.user != current_user %>
                <%= link_to "BOOK NOW", new_performance_reservation_path(@performance), class: "btn btn-medium-blue" %>
              <% else %>
                <span>Can't book</span>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <%= link_to "Back to performances", performances_path, class:'show-backlink' %>
  </div>
</div>
