<div class="left-nav">
    <div class="left-links">
      <div class="account">
        <p><%= link_to 'Account', performances_path%></p>
      </div>
      <div class="weddi-block">
        <p><%= link_to 'Weddi', performances_path%></p>
        <p><%= link_to 'Bookings', my_reservations_path%></p>
        <!-- <p><%= link_to 'Whishlist', performances_path%></p> -->
      </div>
      <div class="puppa-block">
        <p><%= link_to 'Puppa', performances_path%></p>
        <p><%= link_to 'Reservations', my_reservations_path%></p>
        <p><%= link_to 'Performances', my_reservations_requests_path%></p>
      </div>
    </div>
  </div>
