<div class="main-container">
  <div class="left-nav">
    <div class="left-links">
      <div class="account">
        <p><%= link_to 'Account', performances_path%></p>
      </div>
      <div class="weddi-block">
        <p><%= link_to 'Weddi', performances_path%></p>
        <p><%= link_to 'Bookings', performances_path%></p>
        <p><%= link_to 'Whishlist', performances_path%></p>
      </div>
      <div class="puppa-block">
        <p><%= link_to 'Puppa', performances_path%></p>
        <p><%= link_to 'Reservations', performances_path%></p>
        <p><%= link_to 'Performances', performances_path%></p>
      </div>
    </div>
  </div>
  <div class="body-nav">
    <div class="body-cards">
      <div class="body-card">
        <div class="section">
          <h1>Bookings</h1>
        </div>
        <%= render 'reservations/index', reservations: @reservations %>
      </div>
    </div>
  </div>
  <div class="right-nav">
    <div class="right-cards">
      <div class="right-card">
        <div class="section">
          <h1>Performances</h1>
        </div>
        <div><%= render 'reservations/index', reservations: @reservations %></div>
      </div>
    </div>
  </div>
</div>
