<div class="banner">
  <div class="home-banner" style="background-image: linear-gradient(225deg, rgba(159, 131, 106, 0.28) 0%, rgba(39, 36, 41, 0.32) 50%), url('<%= image_path "homepagecover.jpg" %>')">
    <h1>WeddiPuppa : Your party at home !</h1>
    <p>Find best performers for live show in your appartment</p>
    <%= link_to "Book a performance", performances_path, class: "btn btn-medium-pink" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Most recent performances</h2>
        <% @recent_performances.each do |performance| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <%= link_to "", performance_path(performance), class: "card-link" %>
              <div class="card-upper-section" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= performance.smart_image_url%>')">
              </div>
              <div class="card-sub-section">
                <h2><%= performance.title.capitalize %></h2>
                <span> <%= performance.price %> €</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="banner body">
  <h1 class="centered">Don't crash the party, BE the Party !</h1>
</div>
<div class="wrapper">
  <%= render 'testimonials' %>
</div>
<div class="btn-centered">
  <%= link_to "Book a performance", performances_path, class: "btn btn-medium-pink" %>
</div>
