

<div class="main-container">
  <div class="left-nav">
    <div class="left-links">
      <%= render 'pages/dashboard-left-nav-bar' %>
    </div>
  </div>
  <div class="body-nav">
    <div class="body-cards">
      <div class="body-card">
        <div class="section">
          <h1>Bookings</h1>
        </div>
        <%= render 'reservations/index', reservations: @reservations %>
      </div>
    </div>
  </div>
  <div class="right-nav">
    <div class="right-cards">
      <div class="right-card">
        <div class="section">
          <h1>Reservations</h1>
        </div>
        <div class="scrollbar" style="height: 535px;">
          <div class="row">
            <div class="block">
              <% @reservations_as_performer.each do |reservation| %>
                <div class="info">
                  <div class="top">
                    <h3><%= reservation.performance.title %></h3>
                  </div>
                  <div class="rating">
                    <%= User.find(reservation.performance.user_id).first_name%>
                    <%= User.find(reservation.performance.user_id).last_name%>
                  </div>
                  <div class="date">
                    <%= reservation.date %>
                  </div>
                  <div class="price">
                    <p><%= reservation.performance.price %> €</p>
                  </div>
                  <div class="text">
                    <%= reservation.performance.description %>
                  </div>
                  <div class="accept">*
                    <%= render 'reservations/edit', reservation: reservation %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
