<div class="main-container">
  <div class="left-nav">
    <div class="left-links">
      <%= render 'pages/dashboard-left-nav-bar' %>
    </div>
  </div>
  <div class="body-nav">
    <div class="body-cards">
      <div class="section">
          <h1>Reservations</h1>
        </div>
        <div class="scrollbar" style="height: 535px;">
          <div class="row">
            <div class="block">
              <% @reservations_as_performer.each do |reservation| %>
                <div class="info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('<%= reservation.performance.smart_image_url%>')">
                  <div class="top">
                    <h2><%= reservation.performance.title %></h2>
                  </div>
                  <div class="rating">
                    <%= User.find(reservation.performance.user_id).first_name%>
                    <%= User.find(reservation.performance.user_id).last_name%>
                  </div>
                  <div class="date">
                    <%= reservation.date %>
                  </div>
                  <div class="price">
                    <p><%= reservation.performance.price %> €</p>
                  </div>
                  <div class="text">
                    <%= reservation.performance.description %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
