<%= simple_form_for [@performance, @reservation] do |f| %>
  <div class="adv-card-right-top">
    <div class="advanced-card-right-top-title">
      <h1><%= @performance.title %></h1>
      <h2> <%= link_to "See details", performance_path(@performance) %> </h2>
    </div>
    <%= f.input :date, label: "Event Date", as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :location, label: "Event Location", placeholder: 'Example: 16 Villa Gaudelet, Paris', class: 'form-control' %>
  </div>
  <div class="adv-card-right-bottom">
    <p class="adv-card-price"><%= @performance.price %> €</p>
    <%= f.submit "CONFIRM", class: "btn btn-success" %>
  </div>
<% end %>
