<h1>Your Reservations</h1>
<div class="container">
  <div class="row">
    <% reservations.each do |reservation| %>
      <div >
        <h2><%= reservation.performance.title %></h2>
        <p>Details: <%= reservation.performance.description %></p>
        <p>Date : <%= reservation.date %></p>
        <p>The Artist: <%= User.find(reservation.performance.user_id).email %></p>
        <p>Price: <%= reservation.performance.price %></p> <br>
      </div>
    <% end %>
  </div>
</div>
