<div class="container">
  <div class="class row">
    <div class="col-xs-offset-3 col-xs-6">
      <h1 class="text-center">Thank you!</h1>
      <p class="text-center"><i class="fa fa-check-circle" id="check-circle"></i></p>
      <p>📩 Check your inbox, you will receive a confirmation with details of your reservation.</p>
      <h2> <%= @performance.title %></h2>
      <p><strong>Description :</strong> <%= @performance.description %> </p>
      <p><strong>Price :</strong> <%= @performance.price %> €</p>
      <p><strong>Event Address :</strong> <%= @reservation.location %> </p>
      <p><strong>Event Date :</strong> <%= @reservation.date %> </p>
      <%= link_to "Back to performances", performances_path, :style => "color: black; opacity: 0.3;"%>
    </div>
  </div>
</div>
