<h1>Confirmation</h1>

<p>You will receive a confirmation by email when the Poopa validates your booking.</p>
<h2>Summary : </h2>
<p><%= @performance.title  %></p>
<p>Description : <%= @performance.description %> </p>
<p>Price : <%= @performance.price %></p>
<p>Event Address : <%= @reservation.location %> </p>
<p>Event Date : <%= @reservation.date %> </p>
