<%= simple_form_for(@performance) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Name of your performance', class: 'form-control' %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: [ "Concert", "Danse", "Stand-up", "Painter", "DJ"]%>
  </div>

  <div class="form-actions">
  <%= f.submit "Add a performance", class: "btn btn-success"%>
  </div>
<% end %>
