<div class="container">
  <h1><%= @performance.title %> - <%= @performance.price %> €</h1>
  <div class="performance-details">
    <%= @performance.description %>
  </div>
  <div class="btn-grp text-center">
    <%= link_to "Back to performances", performances_path, class: "btn btn-info" %>
    <%= link_to "Book this performance", new_performance_reservation_path(@performance), class: "btn btn-success" %>
    <% if policy(Performance).destroy? %>
      <%= link_to "Edit", edit_performance_path(params[:id]), class: "btn btn-danger" %>
      <%= link_to "Delete", performances_path(@performance), class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
